@charset "utf-8";

/**
*
* -----------------------------------------------------------------------------
*
* Template : TunHum | Multipage Html5 Responsive Business Template
* Author : compact
* Author URI : http://www.compact.com/
*
* -----------------------------------------------------------------------------
*
**/

@media only screen and (max-width: 1660px) {

    /* #section-header .header_bottom .two-icons {
        text-align: left;
    } */
    #section-header .header_bottom .right-btn {
        top: 30px;
    }

    #section-header .header_bottom .right-btn a {
        min-width: 125px;
        padding: 6px 15px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1440px) {
    #section-header .header_bottom .humberburg {
        left: auto;
        right: 50px;
    }

    #section-header .header_bottom .right-btn {
        display: none;
    }

    .banner-section,
    .home2 .banner-section,
    .home3 .banner-section {
        background-position: center;
    }

    .home2 .banner-section {
        height: 780px;
    }

    .home3 .banner-section {
        height: 700px;
    }

    .hamburgert_menu_togle .right-btn {
        display: block;
    }

    /* #section-header .header_bottom .two-icons {
        text-align: left;
    } */
    nav.hamburgert_menu_togle {
        right: -23em;
        left: auto;
        transition: right 0.3s ease-in-out 0s;
        -webkit-transition: right 0.3s ease-in-out 0s;
        -moz-transition: right 0.3s ease-in-out 0s;
        -o-transition: right 0.3s ease-in-out 0s;
    }

    .nav-expanded nav {
        right: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .counter-top-area h2 {
        font-size: 30px;
    }

    .section-heading h2 {
        font-size: 45px;
    }

    .banner-section .banner-desc p,
    body {
        font-size: 15px;
        line-height: 24px;
    }

    .banner-section h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .home-page .banner-section {
        position: relative;
        background-size: cover;
        background-position: top right;
    }

    .home-page .banner-section .container {
        z-index: 99;
        position: relative;
    }

    .home-page .banner-section:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.40);
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .home2 .banner-section {
        position: relative;
        background-size: cover;
        background-position: top right;
        height: 500px;
    }

    .home2 .banner-section .container {
        z-index: 99;
        position: relative;
    }

    .home2 .banner-section:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.80);
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .home3 .banner-section {
        position: relative;
        background-size: cover;
        background-position: top right;
        height: 500px;
    }

    .home3 .banner-section .container {
        z-index: 99;
        position: relative;
    }

    .home3 .banner-section:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.80);
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    .home2 .blog-section .blog-item .blog-details .blog-title {
        font-size: 20px;
        line-height: 30px;
    }

    .home2 .blog-section .blog-item .blog-details {
        padding: 20px 15px 15px 15px;
        margin-top: 0;
    }

    .home2 .blog-section .blog-item .blog-details .blog-meta ul li {
        font-size: 14px;
    }

    .home2 .blog-section .blog-item .blog-details .blog-meta ul {
        display: block;
    }

    .video-section-slider .video-content-wrap .sl-title,
    .slider-main .dsc h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .call-to-action .callto__actio_wrapper .callto__action h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .em-menu > ul > li {
        margin-right: 35px;
    }

    .our-history .counter-wrap .count-number {
        font-size: 30px;
        line-height: 35px;
    }

    .our-history .counter-wrap .count-title {
        font-size: 18px;
        margin-top: 10px;
        line-height: 30px;
    }

    .our-history .play-video {
        height: 340px;
    }

    .blog-section .blog-item .blog-details p {
        display: none;
    }

    .blog-section .blog-item .blog-details .blog-meta ul li {
        font-size: 15px;
    }

    .blog-section .blog-item .blog-details .blog-meta ul li.author {
        padding-right: 30px;
    }

    .blog-section .blog-item .blog-details .blog-meta ul li.date {
        padding-right: 23px;
    }

    .blog-section .blog-item .blog-details {
        padding: 42px 30px 57px 30px;
    }
}


/* Layout: Min 992px Max 1199px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #section-header .header_mid .logo-area a img {
        max-width: 100%;
    }

    .footer .footer-top .footer-bottom-share ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info .icon {
        margin-right: 16px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info {
        padding: 28px 15px 28px 16px;
    }

    #section-header .header_bottom .humberburg {
        right: 30px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info .icon i {
        font-size: 35px;
    }

    .footer .footer-top .sitemap-widget li a {
        font-size: 13px;
    }

    .footer .footer-top .sitemap-widget li a .fa {
        padding-right: 8px;
    }

    .counter-top-area h3 {
        font-size: 12px;
        line-height: 17px;
    }

    #section-header .header_mid .header-info ul li {
        margin-left: 0;
    }

    .header6 .em-menu > ul > li,
    .header2 .em-menu > ul > li {
        margin-right: 14px;
    }

    #section-header .header_bottom .navbar ul > li + li {
        margin-left: 24px;
    }

    .contact-section-page .contact-info-details {
        padding: 16px;
    }

    .contact-section-page .contact-info-details ul li i {
        font-size: 16px;
        margin-right: 6px;
    }

    .footer.onepage-footer .contact-details {
        padding: 70px 70px 55px 70px;
    }

    .home3 .about-section .play-video {
        height: 550px;
    }
}

@media only screen and (max-width: 992px) {

    .header-menu {
        display: none;
    }

    .header-bottom {
        display: none !important;
    }

    #section-header .header_bottom .humberburg {
        display: block;
    }

}


/* Layout: Min 768px Max 991px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .work-process .process-wrap {
        padding: 70px 20px;
    }

    .work-process .process-wrap .process-button .light {
        min-width: inherit;
    }

    .footer .footer-top .footer-bottom-share ul li a {
        font-size: 13px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .home3 .about-section .play-video {
        height: 495px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-section-page .contact-info-details .phn-details h2 {
        font-size: 16px;
    }

    .contact-section-page .contact-info-details .phn-details h4 {
        font-size: 14px;
    }

    .contact-section-page .contact-info-details .phn-details h4 span {
        padding-left: 8px;
    }

    .blog-section .blog-item .blog-desc h3.blog-title {
        font-size: 15px;
    }

    .pricing-table-section ul.price-list li.price,
    .pricing-table-section ul.price-list li.heading {
        padding-left: 0;
        padding-right: 0;
    }

    .pricing-table-section ul.price-list {
        padding: 0 20px 25px;
    }

    .pricing-table-section ul.price-list li.heading span.flaticons:before {
        margin-left: 0;
        font-size: 30px;
    }

    .pricing-table-section ul.price-list li.heading span.flaticons {
        float: none;
        margin-bottom: 15px;
        display: block;
    }

    .pricing-table-section2 .single-pricingtable .price-value {
        font-size: 26px;
    }

    .pricing-table-section ul.price-list li.heading .align-left {
        padding-left: 0;
        float: none;
        font-size: 18px;
    }

    .footer .footer-bottom .ft-bottom-right ul li:before {
        right: -3px;
    }

    .footer .footer-bottom .ft-bottom-right ul li {
        padding: 0 6px;
    }

    .pricing-table-section2 .single-pricingtable .title {
        font-size: 17px;
    }

    .pricing-table-section2 .single-pricingtable .pricing-content li {
        font-size: 15px;
        line-height: 30px;
    }

    .team-details .member-contact ul li {
        font-size: 12px;
    }

    .pricing-table .price-item .price-btn {
        margin: 40px 0;
    }

}


/* Min Width Layout: 767px. */

@media only screen and (max-width: 767px) {
    .comment-list .comment + ul {
        padding-left: 100px;
    }

    h1 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }

    h3 {
        font-size: 1rem !important;
    }

    h4 {
        font-size: 0.9rem !important;
    }

    .banner-section,
    .callto__action,
    .about-section,
    .work-process,
    .services-section,
    .our-history,
    .section-portfolio,
    .pricing-table,
    .team-section,
    .blog-section,
    .testimonial-section,
    .newsletter-section,
    .footer .footer-top,
    .about-us-page .video-section,
    .blog-area,
    .contact-area {
        padding: 3rem 0 !important;
    }
}


/* Mobile Layout: 767px. */

@media only screen and (max-width: 767px) {
    .video-section-slider .video-content-wrap {
        height: 400px;
    }

    .home3 .about-section {
        padding-bottom: 100px;
    }

    .blog-area .blog-item .blog-figure img {
        width: 100%;
    }

    .home-page .about-section .play-video {
        height: 570px;
    }

    .home3 .work-process .process-wrap img {
        width: 100%;
    }

    .blog-details .blog-details-wrap .blog-desc .tags,
    .blog-details .blog-details-wrap .blog-desc .blog-activities {
        float: none;
        margin-bottom: 25px;
    }

    .blog-details .blog-details-wrap .blog-desc .play-text {
        display: block;
    }

    .blog-details .blog-details-wrap .blog-desc .play-text .text-play {
        padding-left: 0;
        padding-top: 28px;
    }

    .callto__action.style2 .cta-wrapper {
        padding: 60px 70px 75px;
    }

    .blog-section .blog-item .blog-details {
        margin-top: -65px;
    }

    .about-us-page .about-section .play-video {
        display: none;
    }

    .section-portfolio .portfolio-filter button {
        font-size: 15px;
        margin: 0 3px 15px 0;
    }

    .blog-section .blog-item .blog-details .blog-title {
        font-size: 21px;
        line-height: 31px;
    }

    .blog-section .blog-item .blog-details .blog-meta ul li {
        display: block;
        padding-left: 50px;
        margin-bottom: 35px;
    }

    .blog-section .blog-item .blog-details .blog-meta ul li:last-child {
        margin-bottom: 0;
    }

    .callto__action .cta-wrapper .cta-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .callto__action.style2 .cta-wrapper .cta-btn {
        text-align: center;
    }

    .section-portfolio .grid-item .gallery-content img {
        width: 100%;
    }

    .footer-top .col-md-3.col-sm-6 {
        width: 100%;
        flex: auto;
        max-width: 100%;
    }

    .team-section .team-name {
        margin: 22px auto 41px;
    }

    .banner-section {
        position: relative;
        background-position: center right 13%;
    }

    .home2 .banner-section {
        position: relative;
        background-position: center right 13%;
    }

    .home3 .banner-section {
        position: relative;
        background-position: top right 5%;
        height: 540px;
    }

    .home3 .work-process {
        margin-top: 0;
    }

    .banner-section:after,
    .home2 .banner-section:after,
    .home3 .banner-section:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.60);
        width: 100%;
        height: 100%;
    }

    .home2 .banner-section:after {
        background: rgba(255, 255, 255, 0.80);
    }

    .home3 .banner-section:after {
        background: rgba(255, 255, 255, 0.90);
    }

    .banner-section .banner-desc p {
        color: #555;
    }

    .banner-section .container {
        z-index: 99;
        position: relative;
    }

    .home3 .callto__action .cta-wrapper .cta-title h3 {
        font-size: 28px;
    }

    .callto__action .cta-wrapper {
        padding: 1rem
    }

    .home3 .callto__action .cta-wrapper {
        padding: 85px 30px 100px !important;
    }

    .callto__action .cta-wrapper .cta-btn,
    .home3 .callto__action .cta-wrapper .cta-btn,
    .home2 .callto__action .cta-wrapper .cta-btn {
        text-align: center;
    }

    .work-process .process-wrap {
        margin-bottom: 30px;
    }

    .video-section-slider .video-content-wrap .sl-desc,
    .slider-main .dsc p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .video-section-slider .video-content-wrap .sl-title,
    .slider-main .dsc h1 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 14px;
    }

    .footer .footer-top {
        padding: 50px 0 60px;
    }

    .counter-top-area h3 {
        max-width: 260px;
        margin: 0 auto;
    }

    .slider-main .dsc a {
        padding: 2px 12px;
        font-size: 14px;
    }

    .counter-top-area h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .counter-top-area .em-counter-list {
        max-width: 260px;
        margin: 0 auto;
    }

    .container {
        padding-right: 25px;
        padding-left: 25px;
    }

    .fullscreen-slider .header-bottom .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer .footer-top [class*="col-"] + [class*="col-"] {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .footer ul.sitemap-widget,
    .footer .footer-info {
        max-width: 300px;
    }

    .about-section .about-desc {
        font-size: 14px;
        line-height: 25px;
    }

    .footer .copyright {
        text-align: center;
    }

    .footer .footer-bottom .ft-bottom-right ul {
        text-align: center;
        margin-top: 5px;
    }

    .team-section .owl-nav,
    .blog-section .owl-nav {
        top: -55px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }

    .team-section .owl-nav .owl-prev,
    .blog-section .owl-nav .owl-prev,
    .team-section .owl-nav .owl-next,
    .blog-section .owl-nav .owl-next {
        padding: 1px 10px;
        font-size: 14px;
    }

    .blog-sidebar-area {
        padding-top: 20px;
    }

    .contact-section-page.contact-3 #g-map,
    .contact-section-page.contact-section-page2 .gap-section #g-map {
        height: 250px;
    }

    #section-header .header_mid .header-info {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 16px !important;
    }

    #section-header .header_mid .header-info ul li {
        display: block;
        margin-bottom: 15px;
    }

    #section-header .header_mid .header-info ul li .icon-left {
        margin-bottom: 20px;
    }

    #section-header .header_mid .header-info ul li .icon-left,
    #section-header .header_mid .header-info ul li .info-right {
        width: 100%;
        display: block;
        text-align: center;
    }

    .services-section2 .services-details .serives-image img {
        width: 100%;
    }

    .services-section .servics-style2 {
        margin-bottom: 20px;
    }

    .service-page-section .single-services-details {
        margin-top: 55px;
    }

    .service-page-section .two-service-list .col-md-6:first-child,
    .service-page-section .single-services-details ul#services-list {
        margin-bottom: 30px;
    }

    #project-details2 .project-short {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }

    #section-header .toolbar-area .toolbar-meta,
    #section-header .toolbar-area .header-info {
        display: none;
    }

    #section-header .toolbar-area .toolbar-sl-share ul {
        text-align: center;
    }

    .testimonial-section .single-text {
        padding-left: 25px;
        width: 100%;
    }

    .pricing-table-section .col-sm-4 + .col-sm-4 {
        margin-top: 30px;
    }

    .pricing-table-section2 .single-pricingtable .pricingTable-header:before {
        height: 300%;
        top: -267%;
    }

    .pricing-table-section2 .single-pricingtable .pricingTable-header:after {
        height: 270%;
        top: -106%;
    }

    .pricing-table-section2 .single-pricingtable .title {
        text-align: center;
    }

    .counter-top-area .em-count .col-md-3:last-child {
        margin-bottom: 5px;
    }

    .call-to-action .callto__actio_wrapper .callto__action h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .about-details h2 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .call-to-action.style3 .callto__actio_wrapper {
        padding: 0 15px;
        width: 100%;
    }

    .call-to-action .callto__action p {
        font-size: 13px;
        line-height: normal;
    }

    .section-portfolio .portfolio-item2 .portfolio-content {
        padding-top: 0;
    }

    .section-portfolio .portfolio-item2 .portfolio-content h3 {
        margin-bottom: 4px;
    }

    .section-portfolio .portfolio-item2:hover .icon {
        bottom: 24px;
    }

    #checkout .product-list table thead {
        display: none;
    }

    #checkout .product-list table tr,
    #checkout .product-list table td {
        display: block;
        text-align: right;
    }

    #checkout .product-list table tr {
        padding: 0;
    }

    #checkout .product-list table td.product-thumb {
        display: none;
    }

    #checkout .product-remove:before,
    #checkout td.actions:before {
        display: none;
    }

    #checkout .product-list table td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }

    .shipping-area .product-list table tr td .order-pro {
        margin-right: 0;
    }

    .shipping-area .product-list table tr td .prize {
        padding-right: 0;
    }

    .shipping-area .actions .update_cart {
        float: none;
        max-width: 371px;
        margin: 14px auto 0px;
        display: block;
        width: 100%;
    }

    .shipping-area .actions .coupon {
        float: none;
        width: 100%;
        text-align: center;
    }

    .contact-section-page .contact-info-details {
        margin-bottom: 30px;
    }

    .contact-section-page .col-sm-4:last-child .contact-info-details {
        margin-bottom: 0;
    }

    .zoomContainer .zoomLens,
    .zoomContainer .zoomWindowContainer {
        display: none !important;
    }

    .section-portfolio .portfolio-item2 .details {
        display: none;
    }

    .section-portfolio .portfolio-item2 .icon {
        margin-top: 12px;
    }

    .error-page-area .error-page h1 {
        font-size: 125px;
        line-height: 125px;
    }
}


/* Device Size : 590px. */

@media only screen and (max-width: 590px) {

    .logo {
        flex-shrink: 0;
    }

    .logo img {
        min-width: 150px;
        margin-top: 6px;
    }

    .search_box input {
        width: 185px;
    }

    .video-section-slider .video-content-wrap .sl-title,
    .slider-main .dsc h1 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .home-page .about-section .play-video {
        height: 570px;
    }

    .banner-section h1 {
        font-size: 42px;
    }

    .blog-details .blog-details-wrap .blog-desc .share-post {
        display: block;
    }

    .blog-details .blog-details-wrap .blog-desc .share-post .share-media {
        margin-top: 40px;
    }

    .blog-details .comment-area .comment-item li {
        display: block;
    }

    .blog-details .comment-area .comment-item li:nth-child(2) {
        padding-left: 30px;
    }

    .blog-details .comment-area .comment-item li .author-info {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    #section-header .header_bottom .humberburg {
        right: 25px;
    }

    .about-section h3 {
        margin-bottom: 15px;
    }

    .about-section .our-features {
        padding-bottom: 20px;
    }

    .footer .recent-project {
        max-width: 300px;
    }

    .slider-main .dsc {
        padding: 0 25px;
    }

    .slider-main .dsc a,
    .btn-slider a {
        padding: 1px 8px;
        font-size: 10px;
    }

    .slider-main .dsc p {
        font-size: 10px;
        margin-bottom: 12px;
    }

    .video-section-slider .video-content-wrap .sl-desc {
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 15px;
    }

    .slider-main .owl-nav {
        display: none !important;
    }

    .slider-main .dsc p {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .about-history > .col-md-6 .row .col-sm-6 {
        width: 100%;
        float: none;
    }

    .about-history > .col-md-6 .row .col-sm-6:first-child {
        margin-bottom: 30px;
    }

    .showing-result .col-xs-6,
    .product-section .col-xs-6 {
        width: 100%;
    }

    .showing-result .product-price-level {
        margin-top: 20px;
    }

    .showing-result .product-price-level,
    .showing-result .show-products {
        text-align: center;
    }

    .services-section .servics-style2:hover .services-icon {
        background: transparent;
    }

    .services-section .servics-style2 .services-icon {
        border: 0;
        float: none;
        display: block;
        padding: 0;
        margin-bottom: 15px;
    }

    .services-section .servics-style2 {
        text-align: center;
    }

    .services-section .servics-style2:hover .services-icon span {
        background: #eea303;
    }

    .services-section .servics-style2 .services-desc {
        margin-left: 0;
    }

    .services-section .servics-style2 .services-icon span {
        float: none;
        display: block;
        font-size: 27px;
        height: 45px;
        width: 45px;
        line-height: 45px;
        z-index: 1;
        border: 1px solid #eea303;
        border-radius: 50%;
        margin: 0 auto;
    }

    .section-portfolio .portfolio-item .p-desc {
        font-size: 11px;
        line-height: 17px;
    }

    .product-section .single-product {
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .team-section .col-xs-6,
    .team-section4 .col-xs-6 {
        width: 100%;
    }

    .team-section .col-xs-6 .single-member,
    .team-section4 .col-xs-6 .our-team {
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .home3 .about-section .play-video {
        height: 450px;
        background-size: cover;
        background-position: center;
        margin-bottom: 60px;
    }
}


/* Small Device : 540px. */

@media only screen and (max-width: 540px) {
    .home-page .about-section .play-video {
        height: 380px;
    }
}


/* Small Device : 320px. */

@media only screen and (max-width: 320px) {
    .video-section-slider .video-content-wrap {
        height: 250px;
    }

    .banner-section .banner-desc .banner-btn .primary-btn {
        min-width: inherit;
        padding: 15px;
    }

    .banner-section .banner-desc .banner-btn .secondary-btn {
        padding: 15px;
    }

    .home-page .about-section .play-video {
        background-size: cover;
        background-position: center;
        height: 450px;
    }

    .home2 .about-section .play-video {
        height: 450px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }

    .breadcrumbs-section .breadcrumb-inner {
        padding: 1rem;
    }

    .breadcrumbs-section .breadcrumb-inner .breadcrumb-title {
        font-size: 30px;
    }

    .newsletter-section .news-form .form-button {
        padding: 0 20px;
    }

    .newsletter-section .news-form::before {
        left: 15px;
    }

    .newsletter-section .news-form .form-input {
        padding-left: 55px;
        font-size: 10px;
    }

    #section-header .logo {
        max-width: 140px;
    }

    #section-header .header_bottom .humberburg {
        top: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .video-section-slider .video-content-wrap .sl-desc {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .section-heading .subtitle {
        font-size: 12px;
    }

    .about-page-section .play-video,
    .about-page .play-video {
        height: 200px;
    }

    .section-portfolio .portfolio-filter button::before,
    .section-portfolio .portfolio-filter button::after {
        display: none;
    }

    .section-portfolio .portfolio-filter button {
        min-width: 170px !important;
        margin: 0 auto 14px !important;
    }

    .footer.onepage-footer .contact-details p {
        margin: 0 0 25px;
    }

    .why-choose .play-video {
        height: 250px;
    }

    .call-to-action .htc__call__btn {
        max-width: 170px;
        margin: 0 auto;
    }

    #section-header .header-bottom .mainmenu-area .mini-carts {
        display: none;
    }

    .footer.onepage-footer .contact-details ul#social-icons {
        margin-top: 25px;
    }

    .footer.onepage-footer h2,
    .footer.onepage-footer .contact-details h2 {
        font-size: 20px;
        margin: 0 0 20px;
    }

    .footer.onepage-footer .contact-form,
    .footer.onepage-footer .contact-details {
        padding: 30px 20px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info {
        padding-left: 15px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info .icon {
        margin-right: 15px;
    }

    .contact-section-page.contact-section-page2 .left-contact-info .icon i {
        font-size: 30px;
    }

    .footer .footer-bottom .ft-bottom-right ul li a,
    .footer .copyright p {
        font-size: 14px;
    }

    .footer .footer-bottom .ft-bottom-right ul li:before {
        right: -2px;
    }

    .footer .footer-bottom .ft-bottom-right ul li {
        padding: 0 5px;
    }

    .footer .footer-title {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .contact-section-page .contact-info-details .phn-details h4 {
        font-size: 14px;
    }

    .contact-section-page .contact-info-details .phn-details h4 span {
        padding-left: 8px;
    }

    .why-choose #accordion .panel .panel-heading .faq-num {
        padding: 4px 0;
    }

    #faq-section .panel-default > .panel-heading + .panel-collapse > .panel-body,
    #why-choose .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #ddd;
        font-size: 12px;
    }

    #faq-section #accordion .panel .panel-heading .panel-title a,
    #why-choose #accordion .panel .panel-heading .panel-title a {
        font-size: 10px;
    }

    #faq-section #accordion .panel .panel-heading,
    #why-choose #accordion .panel .panel-heading {
        padding: 14px 12px 12px 45px;
    }

    #why-choose #accordion .panel .panel-heading .faq-num .fa {
        font-size: 15px;
    }

    #faq-section #accordion .panel .panel-heading .faq-num,
    #why-choose #accordion .panel .panel-heading .faq-num {
        width: 35px;
        font-size: 13px;
    }

    #faq-section #accordion .panel .panel-heading .panel-title a:before,
    #faq-section #accordion .panel .panel-heading .panel-title a:after,
    #why-choose #accordion .panel .panel-heading .panel-title a:after,
    #why-choose #accordion .panel .panel-heading .panel-title a:before {
        width: 1px;
        height: 8px;
    }

    .subcribe-newsletter h3 {
        font-size: 17px;
        text-align: center;
    }

    .breadcrumbs-section .breadcrumbs-inner .page-title {
        font-size: 25px;
    }

    .call-to-action .htc__call__btn a {
        display: block;
        font-size: 14px;
        margin-right: 0 !important;
    }

    .htc__call__btn a:first-child {
        margin-bottom: 20px;
    }

    .section-portfolio .grid-item {
        width: 100%;
    }

    .project-details .project-short ul li {
        font-size: 14px;
    }

    .project-details .project-short ul li span.value {
        float: none;
    }

    .single-product-details #gal1 {
        margin-bottom: 20px;
    }

    .single-product-details #gal1 a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .testimonial-section .single-text p {
        font-size: 13px;
        line-height: 22px;
    }

    .pricing-table-section ul.price-list li.heading span.flaticons:before {
        margin-left: 0;
        font-size: 30px;
    }

    .pricing-table-section ul.price-list li.heading span.flaticons {
        float: none;
        margin-bottom: 15px;
        display: block;
    }

    .pricing-table-section ul.price-list li.heading .align-left {
        padding-left: 0;
        float: none;
        font-size: 18px;
    }

    .pricing-table-section2 .single-pricingtable .pricingTable-header:after {
        top: -146%;
    }

    .slider-main .item img {
        min-height: 200px
    }

    .testimonial-section.style2 .single-text .author-info .author,
    .testimonial-section.style2 .single-text .author-info img {
        float: none;
        text-align: center;
    }

    .testimonial-section.style2 .single-text p,
    .testimonial-section.style2 .single-text .author-info .author {
        margin-top: 15px;
        margin-left: 0;
    }

    .testimonial-section.style2 .single-text .author-info {
        margin-bottom: 6px;
    }

    .faq-section .faq-form {
        margin-top: 10px;
    }

    .section-portfolio .portfolio-filter button {
        display: block;
        margin: 0 0 15px;
        min-width: 100%;
    }

    .em-newsletter .news-form .form-button i {
        font-size: 24px;
    }

    .em-newsletter .news-form .form-button {
        padding: 0 15px;
    }

    .team-details .member-contact ul li {
        font-size: 12px;
    }

    .pricing-table-section2 .single-pricingtable .pricingTable-header:before {
        height: 200%;
        top: -120%;
        left: -20%;
    }

    .em-menu-toggle {
        padding: 13px;
    }

    .shipping-area .actions .coupon input {
        display: block;
        margin: 0 auto 5px !important;
        max-width: 260px;
        width: 100%;
    }

    .shipping-area .actions .update_cart {
        max-width: 260px;
    }

    #partner .partner-item img {
        max-width: 130px;
        padding: 0;
    }

    .contact-section-page .contact-info-details {
        padding: 16px;
    }

    .contact-section-page .contact-info-details ul li {
        font-size: 13px;
    }

    .contact-section-page .contact-info-details ul li i {
        font-size: 16px;
        margin-right: 6px;
    }

    .error-page-area .error-page h1 {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width:575px) {
    #section-header .header_bottom .humberburg {
        width: 42px;
        height: 42px;
        margin-top: 27px;
        line-height: 42px;
    }
}

/* media queries for small portrait device */
/* range 320 to 575.98 */
@media (min-width: 320px)and (max-width: 575.98px) {
    .spaser-70 {
        height: 30px;
    }

    .home-page .banner-section:after {
        background: rgba(255, 255, 255, 0.70);
    }

    .work-process .process-wrap {
        padding: 40px 25px;
    }

    .services-section .services-wrap {
        padding: 40px 25px;
    }

    .home2 .callto__action .cta-wrapper .cta-title h3 {
        font-size: 28px;
    }

    .banner-section .sub-title-banner {
        font-size: 28px;
    }

    .testimonial-section .single-text {
        max-width: 100%;
        padding-left: 0 !important;
    }

    .primary-btn {
        padding: 12px 20px;
    }

    .blog-area .news-sidebar {
        -webkit-order: 2;
        order: 2;
    }

    .callto__action.style2 .cta-wrapper .cta-title h3 {
        font-size: 28px;
    }

    .video-section .play-video {
        height: 350px;
    }

    .home2 .about-section .play-video {
        height: 380px;
    }

    .about-us-page .about-section .play-video {
        height: 380px;
    }

    .breadcrumbs-section .breadcrumb-inner .breadcrumb-title {
        font-size: 35px;
    }

    .contact-area .left-contact {
        padding: 2rem;
    }

    .contact-area .contact-form {
        padding: 2rem;
    }

    .pricing-table .price-item .price-btn a.light {
        min-width: 140px;
    }

    .pricing-table .price-package .light {
        min-width: 0px;
        padding: 7px 25px;
    }

    .newsletter-section .news-info {
        margin-bottom: 30px;
    }

    .about-section .play-video {
        height: 380px !important;
    }

    .testimonial-section .owl-dots {
        display: none;
    }

    .blog-section .blog-item .pr-0 {
        padding-right: 15px !important;
    }

    .blog-section .blog-item .blog-details {
        margin-top: -50px;
        background: #fff;
    }

    .blog-section .blog-item .pl-0 {
        padding-left: 15px !important;
    }

    .newsletter-section .news-form {
        max-width: 420px;
    }

    .team-section .team-name {
        background: #ffeef3;
        padding: 20px 8px;
        margin: 22px auto 15px;
        border-radius: 96px;
    }

    .pricing-table .price-item {
        margin-bottom: 30px;
    }

    .banner-section h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .pricing-table .price-item .price-header h3 {
        font-size: 28px;
    }

    .pricing-table .price-item .price-header {
        padding: 20px 15px;
    }

    .callto__action .cta-wrapper .cta-title h3 {
        font-size: 28px;
    }

    .banner-section .banner-desc {
        max-width: 560px;
    }

    #section-header .header_bottom .humberburg {
        top: 17px;
        margin-right: 40px;
    }

    #section-header .header_bottom .two-icons {
        text-align: right;
    }

    #section-header .header-logo {
        width: 48%;
        flex: auto;
        max-width: 100%;
    }

    #section-header .header-menu {
        display: none;
    }

    #section-header .header-icons {
        width: 48%;
    }

    #section-header .logo {
        margin-top: 0;
        padding: 20px 0;
    }

    .header_bottom .hidden-md {
        display: none;
    }

    #section-header .header-bottom .mainmenu {
        display: none;
    }

    .logo-area a img {
        max-width: 200px !important;
    }

    .call-to-action.style3 .callto__actio_wrapper {
        padding: 0;
    }

    .project-details,
    .inner-page .blog-section,
    .inner-page .team-section,
    .inner-page .services-section,
    .inner-page .services-section3,
    .inner-page .services-section2 {
        padding-top: 80px;
    }

    .single-product-details,
    .team-section,
    .blog-section.blog-page,
    .testimonial-section.style2 {
        padding: 80px 0;
    }

    .team-details,
    .about-page-section3 {
        padding: 80px 0 72px;
    }

    #project-details2 .our-features li {
        float: none;
        width: 100%;
    }

    .contact-section-page .contact-info-details {
        padding: 30px;
    }

    .footer.onepage-footer {
        margin-top: 0;
        padding-top: 80px;
    }

    #section-header .header_mid {
        padding: 0;
    }

    #section-header.header2 .header-info ul li,
    #section-header.header4 .header-info ul li,
    #section-header.header5 .header-info ul li,
    #section-header.header6 .header-info ul li {
        margin-right: 20px;
    }

    .fullscreen-slider #section-header,
    .menu-sticky.sticky {
        position: relative !important;
        animation-duration: 0s !important;
    }

    .call-to-action .callto__actio_wrapper,
    #section-header .header-bottom .logo-area {
        height: auto;
        line-height: normal;
    }

    .logo-area {
        text-align: center;
        padding: 15px 0;
    }

    #section-header.header3 .header_mid {
        padding: 0;
    }

    .one-page-menu .navbar-collapse.collapse,
    #section-header.header3 .one-page-menu.sticky .logo-area,
    .fullscreen-slider #section-header .header-bottom .logo-area .white-logo {
        display: none !important;
    }

    #section-header.header3 .one-page-menu {
        position: static !important;
        margin-top: 0;
    }

    #section-header .header_bottom .navbar-collapse {
        clear: both;
    }

    #section-header .header_bottom .navbar ul li + li {
        margin-left: 0;
    }

    #section-header .header_bottom .navbar ul {
        padding: 10px 0 15px;
    }

    #section-header.onepage-header.header3 .header_bottom .slide-menu .navbar ul li {
        display: block;
        line-height: 40px;
        height: 40px;
    }

    #section-header.header3 .one-page-menu,
    #section-header.header3 .header_bottom .slide-menu,
    #section-header.header3 .one-page-menu.sticky {
        background: #263238;
        box-shadow: none;
    }

    .one-page-menu .navbar-collapse.collapse.in,
    .one-page-menu .navbar-toggle,
    .fullscreen-slider #section-header .header-bottom .logo-area .dark-logo {
        display: block !important;
    }

    .one-page-menu .navbar-toggle {
        float: left;
    }

    #section-header .one-page-menu .slide-menu {
        position: relative;
    }

    #section-header.header3 .one-page-menu .slide-menu {
        padding: 0;
    }

    #section-header.header3 .one-page-menu .search .seach_bar i {
        line-height: 54px;
    }

    #section-header .one-page-menu .search-icons,
    #section-header .one-page-menu .slide-menu ul.search {
        position: absolute;
        right: 15px;
        top: 0;
    }

    #section-header .one-page-menu .search-icons {
        right: 0;
    }

    #section-header .header_bottom.one-page-menu .slide-menu #mainmenu {
        float: none;
    }

    #section-header.header2 .mainmenu-area #mainmenu .em-menu > ul > li > a,
    .header2 .header-bottom .mini-carts .cart-icons i {
        color: #fff;
    }

    .header3 .em-menu > ul > li > a,
    .fullscreen-slider #section-header .header-bottom .mainmenu-area #mainmenu .em-menu > ul > li > a,
    #section-header.header2 .mainmenu-area #mainmenu .em-menu > ul > li > a {
        padding: 16px 20px;
    }

    .about-section2 .about-img {
        margin-top: 50px;
        text-align: center;
    }

    .homestyle-6 .slider-main .item .inner-slider {
        top: 48%;
    }

    .fullscreen-slider #section-header {
        border: none;
    }

    #section-header.header2 .mainmenu-area #mainmenu .em-menu ul li ul li a {
        color: #263238;
    }

    body #section-header .header-bottom .mainmenu-area #mainmenu .em-menu ul li ul li a {
        color: #263238;
    }

    .header-bottom .mainmenu-area {
        position: relative;
    }

    .header-bottom .mainmenu-area .mini-carts {
        position: absolute;
        top: 22px;
        right: 10px;
        height: auto !important;
        line-height: normal !important;
    }

    .fullscreen-slider .header-bottom .mainmenu-area,
    .header2 .header-bottom .mainmenu-area {
        background: #263238;
    }

    .fullscreen-slider .header-bottom .container .col-sm-12,
    .header2 .header-bottom .container .row > div {
        padding-left: 0;
        padding-right: 0;
    }

    .fullscreen-slider .header-bottom .container,
    .header2 .header-bottom .container,
    #section-header .header-bottom .mainmenu-area #mainmenu,
    #section-header .header-bottom .mainmenu-area,
    #section-header .header-bottom .logo-area {
        float: none;
        width: 100%;
    }

    .header2 .header-bottom .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #section-header .header_mid .header-info {
        text-align: center;
        padding-bottom: 24px;
    }

    #section-header .header-bottom .mainmenu {
        float: none;
    }

    #section-header .header-bottom {
        position: relative;
    }

    #section-header .header_bottom .quote li .seach_bar {
        margin-left: 20px;
    }

    #section-header .header-bottom .quote-section {
        position: absolute;
        right: 0;
        top: 0;
    }

    .contact-section-page .contact-form.right-side {
        padding-top: 55px;
    }

    .about-page .about-details {
        margin-top: 40px
    }

    #project-details2 .project-short,
    .footer .footer-top [class*="col-"] + [class*="col-"] {
        margin-bottom: -15px;
    }

    .footer .footer-top .news-form {
        max-width: 350px;
        margin: 0;
        position: relative;
    }

    .footer .footer-top .twitter-posts {
        max-width: 265px;
    }

    .footer ul.sitemap-widget {
        overflow: hidden;
    }

    .contact-section-page.contact-3 #g-map,
    .contact-section-page.contact-section-page2 .gap-section #g-map {
        height: 300px;
    }

    .faq-section .faq-form,
    .about-page-section .about-history .info-decs {
        margin-top: 30px;
    }

    .about-section .about-img,
    #why-choose #accordion,
    .about-company,
    .contact-section-page .office-address-details {
        margin-top: 55px;
    }

    .counter-top-area .em-count .col-md-3 {
        margin-bottom: 30px
    }

    .breadcrumbs-section .breadcrumbs-inner .page-title {
        font-size: 30px;
    }

    .em-newsletter .news-note {
        line-height: 28px;
    }

    .call-to-action .call__left__thumb {
        text-align: center;
        margin-top: 70px;
    }

    .call-to-action .callto__action {
        text-align: center;
    }

    .call-to-action .callto__action p {
        font-size: 14px;
        line-height: 20px;
    }

    .testimonial-section .single-text:before {
        left: 0;
        font-size: 20px;
    }

    .testimonial-section .single-text {
        padding-left: 10px;
    }

    .video-section-slider .video-content-wrap .sl-title,
    .slider-main .dsc h1 {
        font-size: 45px;
        line-height: 50px;
    }

    #section-header .header_bottom .row {
        position: relative;
    }

    #section-header .header_bottom .row .col-md-3 {
        position: absolute;
        width: auto;
        right: 0;
    }

    .team-section4 .our-team,
    .team-section3 .our-team {
        margin-bottom: 30px;
    }

    .team-section4 .our-team {
        margin-bottom: 0;
    }

    .about-section .single-image {
        margin-top: 43px;
    }

    .single-pricingtable {
        margin-bottom: 30px;
    }

    .about-section .section-heading {
        margin-bottom: 15px;
    }

    .section-heading h2 {
        font-size: 33px;
    }

    .nav-menu .mega-menu .sub-menu a {
        padding: 10px 15px;
    }

    .nav-menu .mega-menu li div.mega-menu-innner .single-magemenu {
        padding: 7px 12px;
    }

    blockquote {
        font-size: 15px;
    }

    .em-menu a {
        padding: 10px 16px !important;
    }

    #section-header .header_bottom .quote a {
        line-height: 52px;
        font-size: 12px;
    }

    .product-section .single-product .single-image img {
        width: 100%;
    }

    .contact-section-page.contact-3 .pl-0 {
        padding-left: 15px;
    }

    .contact-section-page.contact-3 .pr-0 {
        padding-right: 15px;
    }

    .contact-section-page.contact-3 .col-md-4:first-child .contact-info-details {
        border-left: 3px solid #eea303;
    }

    .contact-section-page.contact-3 .contact-info-details {
        margin-bottom: 30px;
    }

    .contact-section-page.contact-3 .col-md-4:last-child .contact-info-details {
        margin-bottom: 0;
    }

    .error-page-area .error-page {
        padding: 50px 0 80px;
    }

    .error-page-area .error-page h1 {
        font-size: 180px;
        line-height: 190px;
    }

    .two-icons {
        display: none;
    }


}

/* media queries for small landscape device */
/* range 576 to 767.98 */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* media queries for medium landscape device */
/* range 768 to 991.98 */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* media queries for large device */
/* range 992 to 1199 */
@media (max-width: 1199px) {
    .search_box button {
        height: 44px;
    }
}

/* media queries for extra large device */
/* range 1200 to onwards */
@media (min-width: 1200px) {}
